In [10]:
import sys
import os
import pandas as pd

sys.path.append(os.path.abspath(os.path.join("..", "src")))

df = pd.read_csv('../Data/Raw/Hotel Reservations.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            29999 non-null  object
 1   no_of_adults                          29999 non-null  int64
 2   no_of_children                        29999 non-null  int64
 3   no_of_weekend_nights                  29999 non-null  int64
 4   no_of_week_nights                     29999 non-null  int64
 5   type_of_meal_plan                     29999 non-null  object
 6   required_car_parking_space            29999 non-null  int64
 7   room_type_reserved                    29999 non-null  object
 8   lead_time                             29999 non-null  int64
 9   arrival_year                          29999 non-null  int64
 10  arrival_month                         29999 non-null  int64
 11  arrival_date                          29999 non-null  int64
 12  market_segment_type                   29999 non-null  object
 13  repeated_guest                        29999 non-null  int64
 14  no_of_previous_cancellations          29999 non-null  int64
 15  no_of_previous_bookings_not_canceled  29999 non-null  int64
 16  avg_price_per_room                    29999 non-null  float64
 17  no_of_special_requests                29999 non-null  int64
 18  booking_status                        29999 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 4.3+ MB

In [11]:
from sklearn.model_selection import train_test_split

# critères de base
x = df[['no_of_adults', 'no_of_children', 'no_of_weekend_nights', 'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space','room_type_reserved', 'lead_time', 'market_segment_type', 'repeated_guest', 'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled', 'avg_price_per_room', 'no_of_special_requests']]

# Critère à prédire
y = df['booking_status']

In [12]:
df_clean = df.copy()

In [13]:
df_clean.drop(['Booking_ID'], axis=1, inplace=True)
df_clean.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [14]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

encoder = OneHotEncoder(drop = 'if_binary')

cols_encoded = encoder.fit_transform(df_clean[['type_of_meal_plan','room_type_reserved', 'market_segment_type','booking_status']])

cols_encoded_array = cols_encoded.toarray()

new_cols = np.array(cols_encoded_array)

labels = encoder.get_feature_names_out(['type_of_meal_plan','room_type_reserved', 'market_segment_type','booking_status'])

df_cols_encoded = pd.DataFrame(cols_encoded_array, columns=labels)

df_cols_encoded = df_cols_encoded.astype(int)

df_clean = df_clean.join(df_cols_encoded)

df_clean.drop(['type_of_meal_plan','room_type_reserved', 'market_segment_type','booking_status'], axis=1, inplace=True)

In [15]:
df_clean.to_csv("../Data/Processed/hotel_clean.csv", index=False)

In [16]:
df_clean = pd.read_csv('../Data/Processed/hotel_clean.csv')

df_clean.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,...,room_type_reserved_Room_Type 4,room_type_reserved_Room_Type 5,room_type_reserved_Room_Type 6,room_type_reserved_Room_Type 7,market_segment_type_Aviation,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online,booking_status_Not_Canceled
0,2,0,1,2,0,224,2017,10,2,0,...,0,0,0,0,0,0,0,1,0,1
1,2,0,2,3,0,5,2018,11,6,0,...,0,0,0,0,0,0,0,0,1,1
2,1,0,2,1,0,1,2018,2,28,0,...,0,0,0,0,0,0,0,0,1,0
3,2,0,0,2,0,211,2018,5,20,0,...,0,0,0,0,0,0,0,0,1,0
4,2,0,1,1,0,48,2018,4,11,0,...,0,0,0,0,0,0,0,0,1,0