In [13]:
import pandas as pd

csv = pd.read_csv('D:/PythonIASpace/PythonConda/analyze_movie/data/movies.csv')

csv.describe()

         Duration
count   20.000000
mean   103.000000
std     23.429626
min     26.000000
25%     95.000000
50%    103.500000
75%    112.750000
max    146.000000